@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *)); 

@media (max-width: 780px) {
     .card__res {
       display: grid ;
       grid-template-columns: repeat(2, 1fr) ;
     }
   }
   
   @media (max-width: 500px) {
     .card__res {
       display: grid ;
       grid-template-columns: repeat(1, 1fr) ;
     }
   }


.join .btn-active,
.join button.active,
.join a.active {
  background-color: #2563eb !important; 
  color: white !important;
  border-color: #2563eb !important;
}

.dark .join .btn-active,
.dark .join button.active,
.dark .join a.active {
  background-color: #3b82f6 !important; 
  color: #fff !important;
  border-color: #3b82f6 !important;
}
