@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *)); 

@media (max-width: 780px) {
     .card__res {
       display: grid ;
       grid-template-columns: repeat(2, 1fr) ;
     }
   }
   
   @media (max-width: 500px) {
     .card__res {
       display: grid ;
       grid-template-columns: repeat(1, 1fr) ;
     }
   }


